@{
    ViewData["Title"] = "Home Page";
}

<form id="token-form">
    <button id="get-token" type="button">Get A Token</button>
</form>


<hr />

<h3>Search for Taco Spots</h3>

<form id="get-spots-form">
    <p>Zip code/location: </p>
    <input type="text" id="location" name="location" />
    <button type="submit">Search</button>
</form>

<div id="result"></div>

<script>
    $(function () {
        $("body").on("click", "#get-token", function () {
            $.ajax({
                type: "POST",
                datatype: "json",
                url: "@Url.Action("GetToken")",
                success: function (result) {
                    //$("#result").html(result.access_token);
                    console.log(result);
                }
            });

        });

        $("#get-spots-form").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "@Url.Action("GetTacoSpots")",
                data: { location: $("#location").val() },
                success: function (result) {
                    console.log(result);
                    result.businesses.forEach(function (business) {
                        $("#result").append(
                            "<div class='business-info-container'>" +
                            "<h3><a href='" + business.url + "'>" + business.name + "</a></h3>" + 
                            "<h4 class='business-address'>" + business.location.address1 + ", " + business.location.city + " " + business.location.state + "</h4>" +
                            "<h4>" + business.phone + "</h4>" +
                            "<p>" + business.price  + "</p></div>"
                            );

                    });
                }
            })

        })



    });

</script>